<div class="container">

  <div class="row">
    <div class="col">
      <h1>OER Provider Information</h1>

      <div class="row">
        <div class="col-lg-3">

          <div class="repo-information">
            <h6>Repository Name</h6>
            <p>{{name}}</p>
          </div>{{! .repo-information }}

          <div class="repo-information">
            <h6>Domain URL</h6>
            <p>
              <a href="{{domain}}">{{domain}}</a>
            </p>
          </div>{{! .repo-information }}

          <div class="repo-information">
            <h6>Contact</h6>
            <p>
              <a href="mailto:{{contact}}">{{contact}}</a>
            </p>
          </div>{{! .repo-information }}

          <div class="repo-information">
            <h6>Processed OER Materials</h6>
            <p>
              <b class="doc">{{material_count_clean}}</b>
            </p>
          </div>{{! .repo-information }}

          <div class="repo-information">
            <h6>Logged Number of Visits</h6>
            <p>
              <b class="doc">{{visit_count_clean}}</b>
            </p>
          </div>{{! .repo-information }}

        </div>{{! .col-lg-3 }}

        <div class="col-lg-9">

          {{! OER provider generated token }}
          <div id="oer-provider-token" class="resource">
            <h4>Your X5GON Token</h4>
            <p class="form-text">
              This is the X5GON Token generated for the your OER repository. Copy this token
              somewhere safe as it is your identification token in the X5GON OER Network.
            </p>

            <pre class="mb-4">
              <code class="language-handlebars">
                {{ token }}
              </code>
            </pre>
          </div>{{! #oer-provider-token }}

          {{! OER provider generated hash number }}
          <div id="oer-provider-library" class="resource mt-5">
            <h4>The X5GON Connect</h4>
            <p class="form-text">
              The X5GON Connect library contains functions for providing information about the
              user activity. What kind of user information the functions provide is listed in the
              <a href="/privacy_policy" target="_blank">privacy policy</a>, section
              "About the Data We Collect".
            </p>
            <p class="form-text">
              Include the X5GON Connect Library in the <code class="language-handlebars">&lt;head&gt;</code>
              of the website containing the OER material.
            </p>

            <h6>Latest Library</h6>
            <pre class="mb-4">
              <code class="language-handlebars">
                &lt;script type="text/javascript" src="https://platform.x5gon.org/api/v1/snippet/latest/x5gon-log.min.js"
                    integrity="sha384-ZfzlS43MMnlhhaZGNiNLYUcwbS+ndioybwxGNvzEFR7XcaLun22bDz+tCvCUWfq0"
                    crossorigin="anonymous"&gt;&lt;/script&gt;
              </code>
            </pre>

            <h6>Latest Library with Added Security Measurements</h6>
            <p>
              The added security measurements is called
              <a href="https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity" target="_blank">
              Subresource Integrity</a>, which is a security feature that enables browsers to verify
              that resources they fetch are delivered without unexpected manipulations.<br>
              <b>NOTE:</b> Since this security measurement is dependent on the script you are fetching, the source url
              needs to state which version of the library you wish to retrieve.
            </p>
            <pre>
              <code class="language-handlebars">
                &lt;script type="text/javascript" src="https://platform.x5gon.org/api/v1/snippet/v2/x5gon-log.min.js"
                    integrity="sha384-ZfzlS43MMnlhhaZGNiNLYUcwbS+ndioybwxGNvzEFR7XcaLun22bDz+tCvCUWfq0"
                    crossorigin="anonymous"&gt;&lt;/script&gt;
              </code>
            </pre>
          </div>{{! #oer-provider-library }}

          {{! OER provider generated snippet }}
          <div id="oer-provider-snippet" class="resource mt-5">
            <h5>Enabling X5GON Connect</h5>

            <p class="form-text">
              To enable the X5GON Connect functionality, the OER repository maintainer needs to set
              up when to send the user activity information. The function that needs to be activated
              is:
            </p>

            <pre class="mb-3">
              <code class="language-javascript">
                x5gonActivityTracker('{{ token }}', testingEnvironment);
              </code>
            </pre>

            <p>
              where the <code>testingEnvironment</code> is a boolean value indicating if the function
              is used for testing. Once in production, this variable can be omited.
            </p>


            <h6 class="mt-4">Include the Functionality into your Cookie Policy Manager</h6>

            <p class="form-text">
              The best way is to include this function into your cookie policy manager. If you don't have a cookie policy manager,
              we provide one of the solutions by using the <a href="https://cookieconsent.insites.com/">Cookie Consent</a> API.
              This solution allows the user to decide if they wish to provide their activity data and
              act appropriately.
            </p>

            <p>
              Included the provided lines of code in the <code class="language-handlebars">&lt;head&gt;</code>
              of the website containing the OER material. In addition, the <code>condition</code> in the
              <code>onInitialise</code> and <code>onStatusChange</code> should be a boolean value (i.e.
              <code>true</code> or <code>false</code>) indicating that the page contains OER material.
              <b>NOTE:</b> we recommend you to save the <code>cookieconsent.min.css</code> and
              <code>cookieconsent.min.js</code> source files on your server and import it into your repository.
            </p>

            <pre class="mb-4">
              <code class="language-handlebars">
                &lt;link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"
                  integrity="sha384-AJ82o1PQz2xMlVWjJ+IdPSfyCVS/nJeYbLcpPhm/cEPrewaEdaYkaG6LCsquvogf"
                  crossorigin="anonymous"&gt;

                &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"
                  integrity="sha384-l+e8/kt7mRYg7RUc/i3MsNwDJlWxkWkFDX10LF/iNglZLT96GBMAPrbaH2GP2lQy"
                  crossorigin="anonymous"&gt;&lt;/script&gt;

                &lt;script&gt;
                  window.addEventListener("load", function(){
                    window.cookieconsent.initialise({
                      "palette": {
                        "popup": {
                          "background": "#1d8a8a"
                        },
                        "button": {
                          "background": "#62ffaa"
                        }
                      },
                      "type": "opt-in",
                      "content": {
                        "message": `This website uses cookies for functional and analytical purposes. In addition,
                          we use cookies to deliver personalized, responsive services and to improve the site.
                          This is done in collaboration with the X5GON project.`,
                        "dismiss": "Decline",
                        "allow": "Allow cookies",
                        "link": "Learn more",
                        // link to the X5GON platform privacy policy - describing what are we collecting
                        // through the platform
                        "href": "https://platform.x5gon.org/privacy_policy"
                      },
                      onInitialise: function (status) {
                        var type = this.options.type;
                        var didConsent = this.hasConsented();
                        if (type == 'opt-in' && didConsent) {
                          // enable cookies - send user data to the platform
                          // only if the user enabled cookies
                          if (typeof x5gonActivityTracker !== 'undefined') {
                            x5gonActivityTracker('{{ token }}');
                          }
                        }
                      },
                      onStatusChange: function(status, chosenBefore) {
                        var type = this.options.type;
                        var didConsent = this.hasConsented();
                        if (type == 'opt-in' && didConsent) {
                          // enable cookies - send user data to the platform
                          // only if the user enabled cookies
                          if (typeof x5gonActivityTracker !== 'undefined') {
                            x5gonActivityTracker('{{ token }}');
                          }
                        }
                      },
                      onRevokeChoice: function() {
                        var type = this.options.type;
                        if (type == 'opt-in') {
                          // disable cookies - set what to do when
                          // the user revokes cookie usage
                        }
                      }
                    })
                  });
                &lt;/script&gt;

              </code>
            </pre>

          </div>{{! #oer-provider-snippet }}



          <h4 class="mt-5">Documentation</h4>
          <p class="information">
            For information about what user data is acquired and how the snippet works access the
            documentation available <a href="/docs/x5gon-docs.pdf" target="_blank">HERE</a>.
          </p>

        </div>{{! .col }}
      </div>{{! .row }}

      <div class="whitespace"></div>

    </div>{{! .col }}
  </div>{{! .row }}
</div>