{{#unless empty }}
  <div class="recommendations width-restriction"
    style="width:{{style.width}};max-height:{{style.height}};">
    {{#each recommendations as | material index |}}
    <a class="material" href="{{material.url}}" target="_blank">
      <table class="material-content" style="font-size:{{../style.fontSize}};">
        <body>
          <tr>
            <td class="align-top p-1 pt-2 text-center">
              {{#if (isEqual material.type 'video')}}
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-video fa-stack-1x fa-inverse"></i>
                </span>
              {{else if (isEqual material.type 'audio')}}
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-audio fa-stack-1x fa-inverse"></i>
                </span>
              {{else if (isEqual material.type 'text')}}
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
                </span>
              {{/if}}
            </td>
            <td class="w-100 p-1">
              <strong class="d-block">{{material.title}}</strong>
              <small class="d-block"><b>Provider:</b> {{material.provider}}</small>
              <small class="d-block"><b>Language:</b> {{material.language}}</small>
            </td>
          </tr>
        </body>
      </table>
    </a>
    {{/each}}
  </div>
  <div class="footer text-right width-restriction"
    style="width:{{style.width}};">
    <small>Powered by
      <a href="https://www.x5gon.org/" target="_blank">X5GON Project</a>
    </small>
  </div>
{{/unless}}